html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans";
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #ccc;
}

h2 {
  display: flex;
  justify-content: center;
}

section {
  padding: 2rem;
}

section > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

section > ul > li {
  display: flex;
  justify-content: space-between;

}

img {
  width: 5rem;
}
