html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #ccc;
  margin: 0;
}
h2 {
  text-align: center;
}

section {
  background-color: red;
}
ul {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  background-color: green;
}
